---
import Layout from "../layouts/Layout.astro";
import DatasourceMenu from "./_components/DatasourceMenu.astro";
import ProduceForm from "./_components/ProduceForm.astro";
---

<Layout>
  <div class="prose mx-auto">
    <h1>Fibonacci</h1>
    <p>
      The Fibonacci sequence is a series of numbers where each number is the sum
      of the two preceding ones, usually starting with 0 and 1.
    </p>
    <p>
      Stream with Server Sent Events or Websocket with the STOMP sub-protocol
    </p>
    <DatasourceMenu />
</Layout>
