---
import Layout from "../../layouts/Layout.astro";
import DatasourceMenu from "../_components/DatasourceMenu.astro";
import { WsComponent } from "./_components/WsComponent";
---

<Layout>
  <div class="prose mx-auto text-center mt-4">
    <DatasourceMenu title="WS" />
  </div>
  <WsComponent client:load />
</Layout>
