---
import Layout from "../../layouts/Layout.astro";
import DatasourceMenu from "../_components/DatasourceMenu.astro";
import { WsLivestream } from "./_components/WsLivestream";
---

<Layout>
  <div class="prose mx-auto text-center mt-4">
    <DatasourceMenu title="WS Livestream" />
  </div>
  <WsLivestream client:load/>
</Layout>
