# Spring Properties
spring:
  flyway:
    clean-disabled: false
  docker:
    compose:
      enabled: true
# Logging
logging:
  level:
    root: INFO
    com.github.mangila.fibonacci.scheduler.config: INFO
    com.github.mangila.fibonacci.scheduler.controller: INFO
    com.github.mangila.fibonacci.scheduler.repository: INFO
    com.github.mangila.fibonacci.scheduler.scheduler: INFO
    com.github.mangila.fibonacci.scheduler.task: INFO
# Server
server:
  port: 8081
# SpringDoc
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
  show-actuator: true
  cache:
    disabled: true
