---
const { title } = Astro.props;
---

<div class="prose mx-auto text-center mt-4">
  <h1>{title}</h1>
  <div class="flex justify-center gap-4">
    <a href="/sse">SSE</a>
    <a href="/ws">WS</a>
     <a href="/rest">REST</a>
  </div>
</div>
<div class="divider"></div>
