---
const { title } = Astro.props;
---

<div class="prose mx-auto text-center mt-4">
  <h1>{title}</h1>
  <div class="flex justify-center gap-4">
    <a href="/sse/livestream">SSE Livestream</a>
    <a href="/sse">SSE Query</a>
    <a href="/ws/livestream">WS Livestream</a>
    <a href="/ws">WS Query</a>
  </div>
</div>
<div class="divider"></div>
